<div class='container margin'>
	<h3> Users </h3>
	<table class='table'>
		<tr>
			<th>User</th>
			<th>Twitter Handle</th>
			<th>Email</th>
			<th></th>
		</tr>
		<% _.each(users, function(user){%>
			<tr data-id=<%= user.id %> data-model='user'>
				<td><%= user.name%></td>
				<td><%= user.userid%></td>
				<td><%= user.email%></td>
				<td>
          <div class='followUser btn btn-med btn-primary btn-block'
          	data-userid=<%= user.id%> >
          	<% if(user.followedByMe) { %>
	          	Following
	          	<% } else { %>
	          	Follow
          	<% } %>
          </div>
        </td>
			</tr>
		<% }) %>
	</table>
</div>