<div class='container margin'>
	<h2><a href='/user/edit/<%= user.id %>' class='brn'><%= user.name %></a></h2>
	<h4>@<%= user.userid %></h4>
	TWEETS <b><%= user.tweetCount %></b> |
	FOLLOWING <b><%= user.following ? user.following.length : 0 %></b> |
	FOLLOWERS <b><%= user.followers ? user.followers.length : 0 %></b>
</div>
<div class='container'>
	<h2> Tweets </h2>
	<table class='table'>
		<% _.each(tweets, function(tweet){%>
			<tr data-id=<%= tweet.id %> data-model='tweet'>
				<b><%= tweet.tweetBy ? tweet.tweetBy.split('@')[0] : tweet.tweetBy%></b>
				@<%= tweet.tweetBy ? tweet.tweetBy.split('@')[1] : tweet.tweetBy%><br>
				<%= tweet.tweetText%>
				<hr>
			</tr>
		<% }) %>
	</table>				
</div>
